//
// Applies core overrides to child content styles for
// improved out-of-the-box headings, image alignment, etc.
//

// Utility mixins that set base margin-top and margin-bottom overrides.
// Selectors have to be passed in as a string to these mixins
// to work around how Sass generates final selectors based on nesting.
@mixin styles-opinionated-my-base($selector) {
  #{$selector} {
    margin-bottom: 1.5rem;
    margin-top: 0;

    @include media-breakpoint-up(md) {
      margin-bottom: 2rem;
    }
  }

  * + #{$selector},
  * + * > #{$selector} {
    margin-top: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-top: 2rem;
    }
  }

  // TODO needs more testing
  // * > #{$selector}:only-child {
  //   margin-bottom: 0;
  //   margin-top: 0;
  // }

  // // TODO needs more testing
  // * > *:first-child:empty + #{$selector} {
  //   @include media-breakpoint-up(lg) {
  //     margin-top: 0;
  //   }
  // }
}

@mixin styles-opinionated-my-larger($selector) {
  #{$selector} {
    margin-bottom: 2.25rem;
    margin-top: 0;

    @include media-breakpoint-up(md) {
      margin-bottom: 4rem;
    }
  }

  * + #{$selector},
  * + * > #{$selector} {
    margin-top: 2.25rem;

    @include media-breakpoint-up(md) {
      margin-top: 4rem;
    }
  }

  // TODO needs more testing
  // * > #{$selector}:only-child {
  //   margin-bottom: 0;
  // }

  // // TODO needs more testing
  // * > *:first-child:empty + #{$selector} {
  //   @include media-breakpoint-up(lg) {
  //     margin-top: 0;
  //   }
  // }
}


// All overrides to apply when the opinionated stylesheet is enabled

@mixin styles-opinionated() {
  //
  // Text, headings
  //
  $headings-selector: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', '.h1', '.h2', '.h3', '.h4', '.h5', '.h6';

  // TODO verify this loop works
  @each $heading-selector in $headings-selector {
    #{$heading-selector} {
      margin-bottom: 1.5rem;

      + .lead {
        margin-top: -.5rem;
      }
    }

    * + #{$heading-selector} {
      margin-top: 2.25rem;

      @include media-breakpoint-up(md) {
        margin-top: 4rem;
      }
    }

    * > #{$heading-selector}:only-child {
      margin-bottom: 0;
    }
  }

  .heading-underline,
  .heading-underline-inverse {
    margin-bottom: 1.625rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 2rem;
    }
  }

  .lead {
    margin-bottom: 1.5rem;
  }


  //
  // Blockquotes
  //
  .blockquote {
    @include media-breakpoint-up(md) {
      padding-bottom: 2.25rem;
      padding-top: 2.25rem;
    }
  }


  //
  // Lists
  // TODO needs more testing with Athena classes
  //

  // dl,
  // ol,
  // ul {
  //   &:not(.wp-caption) {
  //     @include styles-opinionated-my-base();

  //     * + & {
  //       margin-top: .5rem;
  //     }
  //   }

  //   &:not(.nav):not(.row):not(.wp-caption) {
  //     display: inline-block;

  //     dl,
  //     ol,
  //     ul {
  //       display: block;
  //       margin-bottom: .5rem;
  //       margin-top: .5rem;
  //     }
  //   }
  // }


  //
  // Dividers
  //
  hr {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
  }


  //
  // Images, figures
  //
  // sass-lint:disable no-qualifying-elements
  $figures-selector: '.figure', 'img[class*="wp-image-"]:not(.figure-img)', '.mceTemp .wp-caption'; // sass-lint:disable-line quotes

  // Rules for all figures
  @each $figure-selector in $figures-selector {
    @include styles-opinionated-my-larger($figure-selector);

    #{$figure-selector} {
      // All float combination rules
      &.float-left,
      &.alignleft,
      &.float-right,
      &.alignright {
        @include media-breakpoint-only(xs) {
          display: block;
          float: none !important; // sass-lint:disable-line no-important
          margin-left: auto;
          margin-right: auto;
        }

        @include media-breakpoint-up(sm) {
          margin-top: .5rem;
        }

        @include media-breakpoint-between(sm, md) {
          max-width: 40% !important; // sass-lint:disable-line no-important
        }
      }

      // Left float combination rules
      &.float-left,
      &.alignleft {
        @include media-breakpoint-up(sm) {
          margin-right: $grid-gutter-width-base * 1.25;
        }

        @include media-breakpoint-up(md) {
          margin-right: $grid-gutter-width-base * 2;
        }
      }

      // Right float combination rules
      &.float-right,
      &.alignright {
        @include media-breakpoint-up(sm) {
          margin-left: $grid-gutter-width-base * 1.25;
        }

        @include media-breakpoint-up(md) {
          margin-left: $grid-gutter-width-base * 2;
        }
      }
    }

    * + #{$figure-selector} {
      &.float-left,
      &.alignleft,
      &.float-right,
      &.alignright {
        @include media-breakpoint-up(sm) {
          // margin-bottom: 1.25rem;
          margin-top: .75rem;
        }
      }
    }

    br + #{$figure-selector} {
      &.float-left,
      &.alignleft,
      &.float-right,
      &.alignright {
        @include media-breakpoint-up(sm) {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .figure-img {
    width: 100%;
  }

  .figure-caption,
  .wp-caption-dd {
    font-family: $font-family-sans-serif;
    margin-top: .25rem;
  }


  //
  // Editor-generated figures with captions
  //
  @include styles-opinionated-my-larger('.mceTemp .wp-caption');

  // sass-lint:disable-block class-name-format
  .mceTemp .wp-caption {
    display: flex;
    flex-direction: column;

    img[class*='wp-image-']:not(.figure-img) {
      margin-top: 0;
      max-width: 100% !important; // sass-lint:disable-line no-important
      width: 100%;
    }
  }
  // sass-lint:enable no-qualifying-elements

  .wp-caption-dt {
    font-weight: normal;
    line-height: 1;
  }

  .wp-caption-dd {
    color: $figure-caption-color;
    font-size: $figure-caption-font-size;
  }


  //
  // Embeds
  //
  @include styles-opinionated-my-larger('.embed');


  //
  // Tables
  //
  @include styles-opinionated-my-larger('.table');


  //
  // Jumbotrons
  //
  @include styles-opinionated-my-larger('.jumbotron');

  > .jumbotron:last-child {
    margin-bottom: 0;
  }
}
